@import "tailwindcss/base";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
  font-family: Inter;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
p.bold {
  font-weight: 700;
}

:root {
  font-size: 14px;

  --color-button-text: #fff;
  --color-primary-100: #dee3ea;
  --color-primary-200: #b2bdcd;
  --color-primary-300: #5d7290;
  --color-primary-600: #323d4d;
  --color-primary-700: #242c37;
  --color-primary-800: #151a21;
  --color-primary-900: #0b0e11;
  --color-accent-glow: rgba(77, 147, 253, 0.3);
  --color-accent: #4D93FD;
  --color-accent-hover: #61A0FF;
  --color-accent-disabled: #0f0f0f;
  --color-secondary: #FD4D4D;
  --screen-height-reduction: 0px;
  --color-primary-100-translucent: rgba(222, 227, 234, 0.15);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

p.small {
  font-size: 0.85rem;
}

/* for firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-700) rgba(0, 0, 0, 0);
}

/* for non-firefox */
::-webkit-scrollbar {
  overflow: overlay;
  width: 8px;
  /* shouldnt hardcode width, pls find way to make it dynamic, thin wasn't working for me...*/
}

::-webkit-scrollbar-track {
  display: initial;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-700);
  border-radius: 5px;
}

html,
body,
#__next {
  background-color: var(--color-primary-900);
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  display: flex;
}

audio {
  width: 0;
  display: none !important;
}

html {
  position: fixed;
}

#__next {
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-resizer {
  background: var(--color-primary-700);
}

.h-screen {
  height: calc(100vh - var(--screen-height-reduction));
}

button:focus {
  outline: none;
}



.game-board {
  width: 70vw;
  height: 70vw;
  touch-action: none;
}

.game-board-width {
  width: 70vw;
}

.game-column {
  width: 7vw;
  height: 7vw;
}

.game-column-hit {
  width: 2vw;
  height: 2vw;

  pointer-events: none;
}

.border-r-hit {
  border-right-color: var(--color-secondary);
  border-right-width: 2px;
}
.border-l-hit {
  border-left-color: var(--color-secondary);
  border-left-width: 2px;
}
.border-t-hit {
  border-top-color: var(--color-secondary);
  border-top-width: 2px;
}
.border-b-hit {
  border-bottom-color: var(--color-secondary);
  border-bottom-width: 2px;
}

@media (min-width: 640px) {
  .game-board {
    width: 35vw;
    height: 35vw;
  }
  
  .game-column {
    width: 3.5vw;
    height: 3.5vw;
  }
  
  .game-column-hit {
    width: 1vw;
    height: 1vw;
  }

  .game-board-width {
    width: 35vw;
  }

  .border-r-hit {
    border-right-width: 4px;
  }
  .border-l-hit {
    border-left-width: 4px;
  }
  .border-t-hit {
    border-top-width: 4px;
  }
  .border-b-hit {
    border-bottom-width: 4px;
  }
}